<h1>Login Page</h1>
{% if request.user.is_authenticated %}
    <h1>USER ALREADY LOGGED IN:{{request.user.email}}</h1>
    <div>
     <a href="{% url 'account:logout' %}">
        <button class="btn">
            <i class="fa fa-add ">Logout</i>
        </button>
     </a>
    </div>
{% else %}
    <div class="contact-inner-form">
				<form method="POST">
					{% csrf_token %}
                    <div class="col_half">
                         <label for="register-form-name">Email:</label>
                                {{ form.email }}
                    </div>
                    <div class="col_half">
                         <label for="register-form-name">Password:</label>
                                {{ form.password }}
                    </div>
                     <button type="submit">Login</button>
                </form>
</div>
{% endif %}
