{% extends 'base.html' %} {% block body %}
{% load crispy_forms_tags %}

				<form method="POST">
					{% csrf_token %}
                        {{ form|crispy }}
                     <button type="submit">Add Product</button>
				</form>

{% endblock %}
<!-- <div class="col_half">&ndash;&gt;-->
<!--                         <label for="register-form-name">Email:</label>-->
<!--                                {{ form.email }}-->
<!--                    </div>-->
<!--                    {{form.errors.email}}-->
<!--                    <div class="col_half">-->
<!--                         <label for="register-form-name">Password:</label>-->
<!--                                {{ form.password1 }}-->
<!--                    </div>-->
<!--                    <div class="col_half">-->
<!--                         <label for="register-form-name">confirm Password:</label>-->
<!--                                {{ form.password2 }}-->
<!--                    </div>

